/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  width: 70%;
  margin: auto;
}

p{
  line-height: 1.5em;
}

/* Regole Header */

header{
  margin: 10px 5px;
}

.logo{
  position: relative;
  height: 220px;
  background-image: url(img/logo.jpg);
  background-size: cover;
  border: 15px solid white;
  color: white;
}

.titolo-pagina{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1{
  font-family: "Montserrat";
  font-size: 48px;
}

.sottotitolo{
  font-family: "Montserrat";
  font-size: 19px;
}

/* Sezione Navbar */

nav{
  position: relative;
  background-color: #504741;
  height: 50px;
}

nav ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-link{
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, .4);
}

nav ul li:last-child{
  border-right: none;
}

.nav-link a{
  text-decoration: none;
  color: rgba(255, 255, 255, .7);
  font-size: 14px;
}

/* Regole Body */
body{
  background-image: url(img/background.png);
}

/* Regole Main */
main{
}

main::after{
  content: "";
  display: table;
  clear: both;
}

/* Sezione aside */
aside{
  float: left;
  width: 25%;
}

.widgetleft{
  background-color: white;
  margin: 10px 0;
  padding: 25px;
}

.link-green{
  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  color: #99cc33;
}

.widgetright{
  background-color: white;
  margin: 10px 0;
  padding: 25px;
}

.titolo-widget{
  font-family: "Montserrat";
  font-size: 18px;
}

.link-tag{
  text-decoration: none;
  padding: 5px;
  font-family: "Roboto";
  font-size: 11px;
  color: #99cc33;
}

/* Stile lista */

ul{
  padding: 5px;
  list-style: none;
}

li{
  padding: 10px;
}

/* Stile search bar */

.widgetright:first-child{
  height: 90px;
  position: relative;
}

.search-bar{
  /* soluzione temporanea per centrare la barra di ricerca*/
  display: flex;
  /* fine soluzione temporanea */
  width: 80%;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

input{
  height: 100%;
}

input[type="text"]{
  width: 70%;
}

input[type="submit"]{
  width: 30%;
  margin-left: 5px;
  background-color: #706760;
  color: white;
  border-radius: 5px;
}

/* Sezione centrale */
section{
  margin: 5px 0;
  float: left;
  width: 50%;
  padding: 5px 20px;
}

.post{
  font-family: "Roboto";
  font-size: 16px;
  color: #666666;
  background-color: white;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .08);
}

h2{
  text-align: center;
  margin-bottom: 20px;
}

.link-articolo{
  text-decoration: none;
  color: #504741;
  font-family: "Montserrat";
  font-size: 32px;
}

.img-articolo{
  width: 100%;
  padding: 20px 0;
}

.info-post{
  font-size: 14px;
}

.testo-post{
  margin: 20px 0;
}

.foot-articolo{
  padding: 20px 0;
}

/* Regole footer */

footer{
  background-color: white;
  font-family: "Roboto";
  font-size: 16px;
}

footer::after{
  content: "";
  display: table;
  clear: both;
}

.box-small-footer{
  padding: 40px;
  background-color: white;
  float: left;
  width: 20%;
}

.box-big-footer{
  padding: 40px;
  background-color: white;
  float: left;
  width: 40%;
}

.pie-pagina{
  padding: 40px;
  background-color: white;
  clear: both;
  width: 100%;
  font-size: 14px;
  color: #666666;
}

.link-footer{
  text-decoration: none;
  color: rgba(0, 0, 0, .35);
}

.testo-footer{
  padding-top: 10px;
}

.copyright{
  float: left;
  padding-bottom: 40px;
}

.social{
  float: right;
  padding-bottom: 40px;
}

.link-social{
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, .06);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.fab, .far{
  color: rgba(0, 0, 0, .35);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
