/* Regole generali */
*{
  /* debug */
  border: 1px solid black;
  /* end debug */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  width: 90%;
  margin: auto;
}

/* Regole Header */

nav{
  /* debug */
  background-color: #504741;
  height: 50px;
  color: white;
  /* fine debug */
}

.logo{
  /* debug */
  height: 150px;
  /* fine debug */
}

body{
  background-image: url(img/background.png);
}

/* Regole Main */
main{
}

main::after{
  content: "";
  display: table;
  clear: both;
}

/* Sezione left */
aside{
  float: left;
  width: 25%;
}

.widgetleft{
  /* debug */
  height: 50px;
  /* end debug */
  background-color: white;
  margin: 5px;
}

/* Sezione centrale */
section{
  float: left;
  width: 50%;
}

.post{
  background-color: white;
  margin: 5px;
}

/* Sezione right */

.widgetright{
  /* debug */
  height: 50px;
  /* end debug */
  background-color: white;
  margin: 5px;
}

/* Regole footer */

.box-small-footer{
  /* debug */
  background-color: white;
  height: 150px;
  border: 1px solid black;
  /* fine debug */
  float: left;
  width: 20%;
}

.box-big-footer{
  /* debug */
  background-color: white;
  height: 150px;
  border: 1px solid black;
  /* fine debug */
  float: left;
  width: 40%;
}

.pie-pagina{
  /* debug */
  background-color: white;
  height: 50px;
  border: 1px solid black;
  /* fine debug */
  clear: both;
  width: 100%;
}
